html,body {
    background: #e8ecef;
}

*{
    font-family: 'Nanum Gothic', sans-serif;
}

#menu1LayOut{
    position: relative;
	width: 1000px;
	height: 1000px;
    margin: 0 auto;

}

.view-page {
    position: relative;
    width: 100%;
    text-align: center;
}

.div-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 75px;
    text-align: left;
    box-sizing: border-box;

}

.header {
    margin-top:40px;
    margin-bottom: 13px;
    font-size: 22px;
    color: #000;
}

/* 이력서 부분*/
.subject {
    margin-left:20px;
    padding-top:20px;
    margin-bottom: 24px;
    font-size: 30px;
    color: #000;
    letter-spacing: -2px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
}

.profile {
    overflow: hidden;
    position: relative;
    margin-bottom: 33px;
}

.container {
    overflow: hidden;
    position: relative;
    width: 1000px;
    padding: 0 0 20px 40px;
    margin-bottom: 10px;
    background-color: #fff;
    border-top:1px solid black;
}

.info-general {
    padding-top: 15px;
    margin-bottom: 13px;
    font-size: 0;
}

.item-name,
.item-gender,
.item-year,
.item-age {
    display: inline-block;
    font-size: 14px;
    color: #888;
    margin-left: 7px;
    vertical-align: top;
}

#item-name {
    margin-left: 0;
    font-size: 20px;
    color: #000;
    display: inline-block;
}

.item {
    position: relative;
    display: inline-block;
    width: 300px;
    padding-left: 83px;
    width: 235px;
}

.label {
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    font-size: 14px;
    color: #888;
}

.label:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 11px;
    background-color: #ddd;
    transform: translateY(6px);
}

.value {
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
}

a:visited {
    color: #666;
    text-decoration: none;
}

.summary {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 100%;
    background-color: #fff;
    border-top:1px solid black;
}

.item2 {
    float: left;
    position: relative;
    height: 150px;
    padding: 27px 15px 0;
    vertical-align: top;
    text-align: center;
    width: 330px;
}

.s-header {
    margin-bottom: 7px;
    font-size: 14px;
    color: #888;
    text-align: center;
    font-weight: 600;
}

.description {
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    line-height: 1.6;
}

.option {
    margin-bottom: 5px;
    font-size: 13px;
    color: #39f;
}

.s2-header {
    margin-bottom: 25px;
    font-size: 14px;
    color: #888;
    text-align: center;
    font-weight: 600;
}

.item2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 89px;
    background-color: #edeef0;
    transform: translateY(-50%);
}

/* 이력서 부분 끝 */

/* 학력 부분 */


/* 학력 부분 끝 */

/* 희망 근무 조건 부분 */
.hopework {
    overflow: hidden;
position: relative;
margin-bottom: 33px;
}

.table {
width: 100%;
border-top: 1px solid #000;
background-color: #fff;
}

table{
border-collapse: collapse;
border-spacing: 0;
empty-cells: show;
border: 0 none;
}

.hopework th {
width: 149px;
}

.table th {
text-align: center;
background-color: #fcfcfc;
border-left: 1px solid #edeef0;
border-right: 1px solid #edeef0;
border-bottom: 1px solid #edeef0;
font-size: 12px;
color: #000;
vertical-align: middle;
}

.table td {
padding: 0 18px;
border-bottom: 1px solid #edeef0;
font-size: 14px;
color: #000;
text-align: left;
vertical-align: middle;
}
.list-hopework{
list-style:none;
}

.td-label{
    height:22px;
}

#menu1button{
    width:100px;
    height:40px;
    margin: 0 auto;
    margin-top:20px;
    background: rgb(33, 108, 179);
    color:white;
    padding-top:10px;
    text-align: center;
    display: inline-block;
    margin-left:900px;
    cursor: pointer;
}

#menu1button:hover{
    transition: all .3s ease-out;
    background: rgb(11, 59, 104);
}