<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="techQ">
<resultMap id="techQResultSet" type="techQ">
<id column="TQID" property="tQid"/>
<result column="TQUESTION" property="tQuestion"/>
</resultMap>

<select id="randomlist" resultMap="techQResultSet">
<![CDATA[
		select * from(
    	select * from TECHQ
    	order by DBMS_RANDOM.RANDOM 
		) where rownum < 4
	]]>
</select>
</mapper>